{:secrets #include #join [#env HOME "/.secrets.edn"]
 :mongo {:port #or [#env UNBIASED_MONGO_PORT 27018]
         :host #or [#env UNBIASED_MONGO_HOST "localhost"]
         :db #or [#env UNBIASED_MONGO_DB "test"]
         :credentials {:user #or [#env UNBIASED_MONGO_AUTH_USER "dev-admin"]
                       :auth-db #or [#env UNBIASED_MONGO_AUTH_DB "dev"]
                       :password ^:ref [:secrets :mongo-password-prod]}}
 :server {:port #or [#env SERVER_PORT 3000]}
 }