<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="10 seconds">

    <property name="LOG_HOME" value="${LOG_DIRECTORY:-${HOME}/tmp/}" />
    <property name="ERROR_FILE" value="${LOG_HOME}/processing_service_error.log" />
    <property name="LOG_FILE" value="${LOG_HOME}/processing_service.log" />

    <!-- LOG FILE FOR ALL ERRORS-->
    <appender name="LOG_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${ERROR_FILE}</file>
        <append>true</append>
        <encoder>
            <pattern>%date %level [%thread] %-5level %logger{10} %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${ERROR_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- LOG FILE FOR ALL MESSAGES (INCLUDING ERRORS)-->
    <appender name="LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}</file>
        <append>true</append>
        <encoder>
            <pattern>%date %level [%thread] %-5level %logger{10} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>>${LOG_FILE}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- CONSOLE MESSAGES-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <logger name="processing-service" level="ALL">
        <appender-ref ref="LOG_ERROR" />
        <appender-ref ref="LOG" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>